<ng-container *ngIf="receipt()">
  <div class="mev ion-padding">
    <div class="font-monospace receipt">
      <div class="line" *ngFor="let item of receipt()">{{ item }}</div>
      <div class="flex flex-col items-center" *ngIf="mevReceipt().Verifier">
        <a class="qr-code" [href]="mevReceipt().Verifier" target="_blank">
          <qrcode [qrdata]="mevReceipt().Verifier!" [scale]="2" [errorCorrectionLevel]="'M'"> </qrcode>
        </a>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!receipt()">
  <div *ngIf="mevReport()" class="mev ion-padding">
    <div class="font-monospace receipt">
      <div class="receipt-header">
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">{{ mevReport().card.name }}</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">COD FISCAL: {{ mevReport().card.idnx }}</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">{{ mevReport().card.address }}</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">NUMARUL DE ÎNREGISTRARE: {{ mevReport().card.number }}</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <p class="text-gray-600">RAPORT ZILNIC {{ mevReport().type === 1 ? 'Z' : 'X' }}</p>
      </div>

      <div class="flex justify-between items-center">
        <span class="text-base">DIN ARTICOLE</span>
        <span class="text-base font-medium"> </span>
      </div>
      <ng-container *ngFor="let vat of reportVats">
        <div class="flex justify-between items-center">
          <span class="text-base">TOTAL</span>
          <span class="text-base font-medium">{{ vat.cost | number : '1.2-2' }} {{ vat.code }}</span>
        </div>
      </ng-container>
      <div class="flex justify-between items-center">
        <span class="text-base">SUMA</span>
        <span class="text-base font-medium">{{ mevReport().daily.total | number : '1.2-2' }}</span>
      </div>

      <div class="flex flex-col items-center">
        <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
      </div>

      <div class="flex justify-between items-center">
        <span class="text-base">TOTAL VANZARE</span>
        <span class="text-base font-medium"> {{ mevReport().daily.total | number : '1.2-2' }} </span>
      </div>
      <div class="flex justify-between items-center ion-text-uppercase" *ngFor="let payment of reportPayments">
        <span class="text-base">{{ payment.label }}</span>
        <span class="text-base font-medium">{{ payment.value | number : '1.2-2' }}</span>
      </div>

      <ng-container *ngIf="mevReport().daily.totals?.in || mevReport().daily.totals?.out">
        <div class="flex flex-col items-center">
          <p class="text-gray-600">SUME INTRODUSE</p>
        </div>
        <div class="flex justify-between items-center" *ngIf="mevReport().daily.totals?.in">
          <span class="text-base">INTRODUSE</span>
          <span class="text-base font-medium"> {{ mevReport().daily.totals.in | number : '1.2-2' }} </span>
        </div>
        <div class="flex justify-between items-center" *ngIf="mevReport().daily.totals?.out">
          <span class="text-base">SCOASE</span>
          <span class="text-base font-medium"> {{ mevReport().daily.totals.out | number : '1.2-2' }} </span>
        </div>
      </ng-container>

      <div class="flex flex-col items-center">
        <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
      </div>

      <div class="flex flex-col items-center">
        <p class="text-gray-600">GRUPE TVA</p>
      </div>
      <div class="vats ion-text-uppercase">
        <ng-container *ngFor="let vat of reportVats">
          <div class="flex justify-between items-center">
            <span class="text-base">TOTAL {{ vat.code }}</span>
            <span class="text-base font-medium">{{ vat.cost | number : '1.2-2' }}</span>
          </div>
          <div class="flex justify-between items-center">
            <span class="text-base">TVA {{ vat.percent | number : '1.2-2' }}%</span>
            <span class="text-base font-medium">{{ vat.rate | number : '1.2-2' }}</span>
          </div>
        </ng-container>

        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
        </div>
        <div class="flex justify-between items-center">
          <span class="text-base">NUMAR BONURI </span>
          <span class="text-base font-medium">{{ reportReceiptsCount }}</span>
        </div>
        <div class="flex justify-between items-center">
          <span class="text-base">TOTAL VANZARE</span>
          <span class="text-base font-medium">{{ mevReport().daily.total | number : '1.2-2' }}</span>
        </div>
        <div class="flex justify-between items-center">
          <span class="text-base">TOTAL TVA</span>
          <span class="text-base font-medium">{{ mevReport().daily.tax | number : '1.2-2' }}</span>
        </div>

        <div class="payments ion-text-uppercase">
          <div class="flex flex-col items-center">
            <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
          </div>
        </div>

        <ng-container *ngIf="mevReport().type === 1">
          <div class="flex justify-between items-center">
            <span class="text-base">ANUAL TOTAL</span>
            <span class="text-base font-medium">{{ zReport.year.total | number : '1.2-2' }}</span>
          </div>
          <div class="flex justify-between items-center">
            <span class="text-base">ANUAL TVA TOTAL</span>
            <span class="text-base font-medium">{{ zReport.year.tax | number : '1.2-2' }}</span>
          </div>

          <div class="flex justify-between items-center">
            <span class="text-base"></span>
            <span class="text-base font-medium"></span>
          </div>

          <div class="flex justify-between items-center">
            <span class="text-base">NR RAPORT Z</span>
            <span class="text-base font-medium">{{ zReport.report }}</span>
          </div>
        </ng-container>
      </div>
      <div class="flex justify-between items-center">
        <span class="text-base">DATA {{ currentDate | date : 'dd.MM.yyyy' }}</span>
        <span class="text-base font-medium"> ORA {{ currentDate | date : 'HH:mm:ss' }} </span>
      </div>

      <div class="flex justify-between items-center">
        <span class="text-base">NUMĂRUL FABRICĂRII</span>
        <span class="text-base font-medium"> {{ mevReport().card.factory }} </span>
      </div>
      <div class="flex flex-col items-center">
        <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
      </div>
      <div class="flex justify-between items-center">
        <span class="text-base"></span>
        <span class="text-base font-medium"> {{ mevReport().id.toString().padStart(10, '0') }} </span>
      </div>
    </div>
  </div>

  <div *ngIf="mevReceipt()" class="mev ion-padding">
    <div class="font-monospace receipt">
      <div class="receipt-header">
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">{{ mevReceipt().card.name }}</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">COD FISCAL: {{ mevReceipt().card.idnx }}</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">{{ mevReceipt().card.address }}</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">NUMARUL DE ÎNREGISTRARE: {{ mevReceipt().card.number }}</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
        </div>
      </div>

      <div class="flex flex-col">
        <ng-container *ngFor="let item of mevReceipt().activities.field">
          <div class="flex justify-between items-start">
            <span class="text-base">{{ item.name }}</span>
            <div class="itemValues flex">
              <div class="text-sm text-gray-600 amount">
                {{ item.amount | number : '1.3-3' }} x {{ item.price | number : '1.2-2' }}
              </div>
              <div class="text-sm text-gray-600 cost">{{ item.cost | number : '1.2-2' }} {{ item.tax.code }}</div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="flex flex-col items-center">
        <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
      </div>

      <div class="payments ion-text-uppercase">
        <div class="flex justify-between items-center">
          <span class="text-base">TOTAL</span>
          <span class="text-base font-medium">{{ mevReceipt().data.total | number : '1.2-2' }}</span>
        </div>
      </div>

      <div class="flex flex-col items-center">
        <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
      </div>

      <div class="vats ion-text-uppercase">
        <ng-container *ngFor="let vat of receiptVats">
          <div class="flex justify-between items-center">
            <span class="text-base">TOTAL {{ vat.code }}</span>
            <span class="text-base font-medium">{{ vat.cost | number : '1.2-2' }}</span>
          </div>
          <div class="flex justify-between items-center">
            <span class="text-base">TVA {{ vat.percent | number : '1.2-2' }}%</span>
            <span class="text-base font-medium">{{ (vat.cost * vat.percent / 100) | number : '1.2-2' }}</span>
          </div>
        </ng-container>
      </div>

      <div class="flex flex-col items-center">
        <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
      </div>

      <div class="payments ion-text-uppercase">
        <ng-container *ngFor="let payment of receiptPayments">
          <div class="flex justify-between items-center">
            <span class="text-base">{{ payment.label }}</span>
            <span class="text-base font-medium">{{ payment.value | number : '1.2-2' }}</span>
          </div>
        </ng-container>
      </div>

      <div class="flex flex-col items-center">
        <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
      </div>

      <div class="flex justify-between items-center">
        <span class="text-base">DATA {{ currentDate | date : 'dd.MM.yyyy' }}</span>
        <span class="text-base font-medium">ORA {{ currentDate | date : 'HH:mm:ss' }}</span>
      </div>

      <div class="flex justify-between items-center">
        <span class="text-base">BON FISCAL</span>
        <span class="text-base font-medium">{{ mevReceipt().receipt }}</span>
      </div>

      <div class="flex justify-between items-center">
        <span class="text-base">NUMĂRUL FABRICĂRII</span>
        <span class="text-base font-medium">{{ mevReceipt().card.factory }}</span>
      </div>
      <div class="flex flex-col items-center">
        <p class="text-gray-600 text-xs">````````````````````````````````````````````````</p>
      </div>
      <div class="flex justify-between items-center">
        <span class="text-base"></span>
        <span class="text-base font-medium">{{ mevReceipt().data.idns }}</span>
      </div>

      <div class="flex flex-col items-center" *ngIf="mevReceipt().Verifier">
        <a class="qr-code" [href]="mevReceipt().Verifier" target="_blank">
          <qrcode [qrdata]="mevReceipt().Verifier!" [scale]="2" [errorCorrectionLevel]="'M'"> </qrcode>
        </a>
      </div>
    </div>
  </div>
</ng-container>
